<p-dialog header="Task overview" [(visible)]="visible" [modal]="true" [style]="{ width: '95vw' }" [baseZIndex]="10000"
  [draggable]="false" [resizable]="false">
  <p class="p-m-0" style="height: 100%;">
    <p-tabView >
      <p-tabPanel header="Task infos">
        <ng-template pTemplate="content">
          <div class="p-fluid" *ngFor="let message of task.messages; index as i">
            <div class="p-col-2 p-md-2">
              {{message.msgLevel}}
            </div>
              <div class="p-col-10 p-md-10">
                {{message.messageDescription}}
              </div>

          </div>
          <div class="p-fluid">
            <div class="p-field p-grid">
              <label for="firstname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">code</label>
              <div class="p-col-12 p-md-10">
                {{task.code}}
              </div>
            </div>
            <div class="p-field p-grid">
              <label for="firstname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">description</label>
              <div class="p-col-12 p-md-10">
                {{task.description}}
              </div>
            </div>
            <div class="p-field p-grid">
              <label for="lastname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">work order</label>
              <div class="p-col-12 p-md-10">
                {{task.workOrderCode}}
              </div>
            </div>
            <div class="p-field p-grid">
              <label for="lastname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">sequence</label>
              <div class="p-col-12 p-md-10">
                {{task.sequenceCode}}
              </div>
            </div>
            <div class="p-field p-grid">
              <label for="scheduledMachineCode" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">assigned machine</label>
              <div class="p-col-12 p-md-10">
                {{task.scheduledMachineCode}}
              </div>
            </div>
            <div class="p-field p-grid">
              <label for="lastname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">start setup</label>
              <div class="p-col-12 p-md-10">
                {{task.setup?.startDateTime | date: 'short'}}
              </div>
            </div>
            <div class="p-field p-grid">
              <label for="lastname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">end setup</label>
              <div class="p-col-12 p-md-10">
                {{task.setup?.endDateTime  | date: 'short'}}
              </div>
            </div>
            <div class="p-field p-grid">
              <label for="lastname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">start work</label>
              <div class="p-col-12 p-md-10">
                {{task.work?.startDateTime  | date: 'short'}}
              </div>
            </div>
            <div class="p-field p-grid">
              <label for="lastname" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">end work</label>
              <div class="p-col-12 p-md-10">
                {{task.work?.endDateTime  | date: 'short'}}
              </div>
            </div>
          </div>

        </ng-template>
      </p-tabPanel>
      <p-tabPanel header="Material" *ngIf="task.materialConsumptions && task.materialConsumptions.length>0">
        <ng-template pTemplate="content">
          <p-table [value]="task.materialConsumptions">
            <ng-template pTemplate="header">
              <tr>
                <th>Code</th>
                <th>Description</th>
                <th>Required qty</th>
                <th>Satisfied from</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-mater>
              <tr>
                <td>{{ mater.product?.code }}</td>
                <td>{{ mater.product?.description }}</td>
                <td>{{ mater.requiredQty | number: '1.2-2'}}</td>
                <td>
                    <ul *ngIf="mater.ownedReservations?true:false" >
                      <li *ngFor="let reservation of mater.ownedReservations; index as i">
                         <span *ngIf="reservation.supplyType==='ProductionSupply'">
                          {{reservation.qtyProvided| number: '1.2-2'}} from work order {{reservation.workOrderCode}}
                         </span>
                         <span *ngIf="reservation.supplyType==='PurchaseSupply'">
                          {{reservation.qtyProvided| number: '1.2-2'}} from order {{reservation.documentCode}}
                         </span>
                         <span *ngIf="reservation.supplyType==='StockSupply'">
                          {{reservation.qtyProvided| number: '1.2-2'}} from warehouse {{reservation.warehouseCode}}
                         </span>
                      </li>
                    </ul>
                </td>
              </tr>
            </ng-template>
          </p-table>

        </ng-template>
      </p-tabPanel>
      <p-tabPanel header="Equipment infos">
        <ng-template pTemplate="content">
          <openi40-task-equipment-details [task]="task"></openi40-task-equipment-details>
        </ng-template>
      </p-tabPanel>
      <p-tabPanel header="Production cycle/operation">
        <ng-template pTemplate="content">
            <openi40-cycle-model [cycleCode]="task.cycleCode" [highlightOperationModelCode]="task.operationCode" [dataSetName]="apsData.dataSetName" [dataSourceName]="apsData.dataSourceName" [dataSetVariant]="apsData.dataSetVariant"></openi40-cycle-model>
        </ng-template>
      </p-tabPanel>
      <p-tabPanel header="Task chain of dependencies">
        <ng-template pTemplate="content">
            <openi40-dependency-graph [apsData]="apsData" [taskInFilter]="task"></openi40-dependency-graph>
        </ng-template>
      </p-tabPanel>
    </p-tabView>
  </p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="okClick($event)" label="Ok" class="p-button-text"></p-button>
  </ng-template>
</p-dialog>
